<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  <h2>Boas-vindas, {{ usuario }}</h2>
  <div id="estante">
    <!-- LIVROS SERÃO ADICIONADOS PELO BANCO BIBLIOTECA.DB E TABELA LIVROS -->
  </div>
  <footer>
    <i class="bi bi-house-fill"></i>
    <i class="bi bi-gear-fill"></i>
    <i class="bi bi-person-fill"></i>
  </footer>
</body>
</html>
